div.interface{
    display: grid;
    row-gap: 10px;
    padding: 20px;
}

div.interface p{
    row-gap: 0px;
}

ul{
    list-style: none;
}

li.espec{
    margin-top: 10px;
}


figure#gameplay{
    margin: 0px auto;
    text-align: center;
}

iframe{
    margin: 0px auto;
}

section.capaEspec{
    display: grid;
    grid-template-columns: 45% 55% ;
}

section.capaEspec figure#capaTW1{
    margin: 0px auto;
}

section.capaEspec figure#capaTW1 img{
    height: 270px;
    width: 200px;

}

section.personagens{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    text-align: center;
}

section.personagensTW1{
    display: flex;
    justify-content: space-around;  
    text-align: center;
}

section.personagens img, section.personagensTW1 img{
    height: 270px;
    width: 200px;
    overflow: hidden;
    transition: opacity 0.5s;
}


a#ultimo{/*coloca ultima imagem no meio apenas na pag TW3*/
    grid-column-start: 2;
}

a.aPersonagem:hover img{
    opacity: 0.6;

}