/* Arquivo de estilo principal*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap');


/*Zera as formatações previas*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font: 500 16px 'Exo 2', sans-serif;
    color: #D7D6D6;
    text-align: justify;
}


h1,h2{
    text-align: center;
}

p{
    text-indent: 10px;
    padding: 20px;
}

/*Início cabaçalho*/
header.cabecalho{  
    z-index: 1;/*coloca como prioridade 1 de exibição, entâo fica acima do hover*/
    position: sticky;/*position que é substituido quando algo assume o valor*/
    top: 5px;
    width: 100%;
    height: 80px;
    padding-left: 70px;
    width: 100%;
    display: flex;

    justify-content: space-between;
    background-color: black;
    border-top: 2px solid #D7D6D6;
    border-bottom: 2px solid #D7D6D6;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

header.cabecalho div.logo{
    margin-top: 10px;
}

nav.menu{
    margin-right: 90px;
    margin-top: 15px;
}

ol.menuCabecalho{
    list-style: none;
    display: flex;
}

ol.menuCabecalho li{
    width: 180px;
    list-style: none;
    position:relative;
}

ol.menuCabecalho li a{
    display: block;
    text-decoration: none;
    color: #D7D6D6;
    
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    text-align: center;
}

ol.menuCabecalho ol.subMenuCabecalho{
    background-color: black;
    visibility: hidden;
    position: absolute;
}

ol.menuCabecalho ol.subMenuCabecalho li{
    color: #D7D6D6;
    display: flex;
    text-align: left;
}

ol.menuCabecalho a:hover {
    background-color: rgb(24, 24, 24);
}

ol.menuCabecalho li:hover ol.subMenuCabecalho{
    visibility: visible;
}

ol.menuCabecalho ol.subMenuCabecalho li a{
    color: #D7D6D6;
}

/*Final cabaçalho*/

/*Inicio Main*/
main{
    background: url(../imagens/fundo.jpg) no-repeat fixed;  
    background-size: 100%;
}

div.interface{
    margin: 0px auto ;
    background-color: rgba(0, 0, 0, 0.9);

    max-width: 1226px;/*calculado com base em resoluçoes de 1326px de largura, simulando uma margem de 70 px de cada lado = home*/
}

/*fim Main*/

/*links de toda a pag*/
a{
    text-decoration: none;
    font-weight: 700 ;
    color: #D7D6D6;
}

a:hover{
    text-decoration: underline;
    color: #8f8f8f;
}



/*Inicio rodape*/
footer#rodape{
    display: flex;
    border-top: 2px solid #D7D6D6;
    justify-content: space-between;
    background-color: black;
    height: auto;
    padding: 20px 70px 30px 70px ;

    list-style: none;
}

footer#rodape p{
    color: #D7D6D6;
}

footer#rodape nav#redes ol#olRedes li{
    display: inline-block;
    
}