@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap');


main.conteudo div.interface div.destaquePrincipal{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

main.conteudo div.interface div.destaquePrincipal a{
    transition: opacity 0.5s;
}

main.conteudo div.interface div.destaquePrincipal a:hover{
    opacity: 0.6;
}


main.conteudo div.interface div.textoIntro{
    color: #D7D6D6;
    text-align: center;
    margin: 25px;
}

main.conteudo div.interface div.textoIntro p{
    text-indent: 4%;
    text-align: justify;
}

a{
    text-decoration: none;
    font-weight: 700 ;
    color: #D7D6D6;
}

a:hover{
    text-decoration: underline;
    color: #8f8f8f;
}